asgiref==3.4.1
astroid==2.4.2
autopep8==1.5.6
backports.entry-points-selectable==1.1.1
beautifulsoup4==4.9.3
bs4==0.0.1
certifi==2017.11.5
chardet==3.0.4
defusedxml==0.7.1
distlib==0.3.3
Django==3.2.9
djangorestframework==3.12.2
filelock==3.3.2
idna==2.6
isort==5.7.0
lazy-object-proxy==1.4.3
mccabe==0.6.1
oauthlib==2.0.6
olefile==0.44
Pillow==8.4.0
platformdirs==2.4.0
pycodestyle==2.7.0
PyJWT==1.5.3
pylint==2.6.0
python-dateutil==2.8.1
python3-openid==3.2.0
pytz==2017.3
redis==2.10.6
requests==2.18.4
requests-oauthlib==0.8.0
six==1.11.0
social-auth-core==1.5.0
soupsieve==2.1
speedtest-cli==2.1.3
sqlparse==0.2.4
tinkoff-invest-openapi-client==0.0.7
toml==0.10.2
urllib3==1.22
virtualenv==20.10.0
websocket-client==0.56.0
wrapt==1.12.1
